<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>
<body>
    <h1>Home</h1>
    <a class="myclass2" href="/update">Update</a>
    <a class="myclass2" href="/">Log out</a>
    <a class="myclass2" href="/about">About this site</a>
</body>
</html>