<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
</head>
<body>
    <h1>Yellow</h1>
    <a class="myclass2" href="/home">Login</a>
    <a class="myclass2" href="/create">Sign Up</a>
</body>
</html>