<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update</title>
</head>
<body>
    <h1>Update Your Account</h1>
    <a class="myclass2" href="/home">Done</a>
    <a class="myclass2" href="/home">Back</a>
</body>
</html>